<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "app.mfunes.com.ar"
	versionCode = "1"
    version   = "0.1">

<name>TestMF</name>
<author href="http://www.mfunes.com.ar" email="info@mfunes.com.ar">
MF
</author>
<description>CAM Publicator</description>
<icon src="icon.png" />
<icon src="res/img/logo.png" gap:platform="android" gap:density="ldpi" />
<icon src="res/img/logo.png" gap:platform="android" gap:density="mdpi" />
<icon src="res/img/logo.png" gap:platform="android" gap:density="hdpi" />
<icon src="res/img/logo.png" gap:platform="android" gap:density="xhdpi" />

<gap:splash src="splash.png" />
<gap:splash src="res/splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="res/splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="res/splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="res/splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

<preference name="android-installLocation" value="preferExternal" />
<preference name="splash-screen-duration" value="6000" />
<preference name="permissions" value="none" />
<preference name="orientation" value="portrait" />
<preference name="FadeSplashScreen" value="true" />
<preference name="FadeSplashScreenDuration" value="2" />
</widget>